/* #FCDE9C or (#FFA552) = yellow */
/* #1d3557 = bluw */
/* #e5e5e5 = grey */

:root {
    --sidebar-icon-text-color: white;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto';
    margin: 0;
}

span.dashboard {
    font-size: 48px;
}

h1 {
    font-size: 32px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    margin: 15px 15px 0 15px;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    width: auto;
    height: 100vh;
    background-color: #1d3557;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content {
    grid-area: 2 / 2 / 3/ 3;
    background-color: #e5e5e5;
}

.sidebar-nav {
    margin-top: 0;
}

.sidebar-nav,
.sidebar-other {
    display: flex;
    flex-direction: column;
}

.sidebar-icon {
    width: 24px;
    height: auto;
    filter: invert(1);
}

.sidebar-nav>li,
.sidebar-other>li {
    list-style: none;
    padding: 0;
}

.sidebar-nav>li>a,
.sidebar-other>li>a {
    display: flex;
    text-decoration: none;
    gap: 10px;
    margin-bottom: -10px;
}

.heading,
.sidebar-heading,
.sidebar-icon {
    color: var(--sidebar-icon-text-color);
}

.icon {
    width: 24px;
    height: auto;
}

.header-top {
    display: flex;
    gap: 15px;
    margin: 20px;
    align-items: center;
}

.header-top>p {
    font-size: 18px;
    font-weight: 700;
}

.header-top>.profile-icon {
    width: 38px;
    height: auto;
    filter: invert(63%) sepia(71%) saturate(443%) hue-rotate(337deg) brightness(102%) contrast(103%);
}

.header-top>input {
    flex: 1;
    margin-right: 3rem;
    -webkit-appearance: none;
    border-radius: 15px;
    border-style: none;
    background-color: #e5e5e5;
    height: 28px;
}

input::placeholder {
    padding-left: 10px;
}

.header-bottom {
    display: flex;
    margin: 0 25px 20px 25px;
    justify-content: space-between;
}

.user-information {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

.user-information > .profile-icon {
    width: auto;
    height: auto;
    filter: invert(63%) sepia(71%) saturate(443%) hue-rotate(337deg) brightness(102%) contrast(103%);
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
}

.user-information > p {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.user-information > .username {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-start;
    font-size: 20px;
}

.action-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.action-buttons > button {
    background-color: #1d3557;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    border-style: none;
}